<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>934452005790-r1iqebs0v7q9vb4ior869q1rk5rdnrgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934452005790-r1iqebs0v7q9vb4ior869q1rk5rdnrgf</string>
	<key>API_KEY</key>
	<string>AIzaSyD9a4625s60jCMYfS4aZz8U4zksYaFmjwc</string>
	<key>GCM_SENDER_ID</key>
	<string>934452005790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex-villacres.Intentions-alpha</string>
	<key>PROJECT_ID</key>
	<string>intentions-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>intentions-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934452005790:ios:e138d59ae53cae55</string>
	<key>DATABASE_URL</key>
	<string>https://intentions-alpha.firebaseio.com</string>
</dict>
</plist>